<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anranruozhu.mapper.LightDataMapper">
    <select id="addData">
        INSERT INTO smartleafhub.light_data(light_intensity)
        VALUES(#{lightIntensity})
    </select>
    <select id="ShowLast" resultType="java.lang.Float">
        SELECT light_intensity
        FROM smartleafhub.light_data
        ORDER BY reading_time DESC LIMIT 1;
    </select>
    <select id="ShowAll" resultType="com.anranruozhu.entity.LightIntensityData">
        SELECT light_intensity,reading_time
        FROM smartleafhub.light_data
        ORDER BY reading_time DESC LIMIT 200
    </select>

    <select id="ShowWeekData" resultType="com.anranruozhu.entity.LightIntensityData">
        SELECT AVG(light_intensity) AS light_intensity,DATE(reading_time) AS reading_time
        FROM light_data
        WHERE reading_time >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) AND reading_time &lt;CURDATE()
        GROUP BY DATE(reading_time)
        ORDER BY DATE(reading_time) DESC;
    </select>
</mapper>