<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anranruozhu.mapper.SoilDataMapper">

    <insert id="addData">
        INSERT INTO smartleafhub.soil_data(soil_humidity)
        VALUES(#{soilHumidity})
    </insert>
    <select id="ShowLast" resultType="float">
        SELECT soil_humidity
        FROM smartleafhub.soil_data
        ORDER BY reading_time DESC LIMIT 1;
    </select>
    <select id="ShowAll" resultType="com.anranruozhu.entity.soilData">
        SELECT soil_humidity,reading_time
        FROM smartleafhub.soil_data
    </select>
    <select id="ShowWeekData" resultType="com.anranruozhu.entity.soilData">
        SELECT AVG(soil_humidity) AS soil_humidity,DATE(reading_time) AS reading_time
        FROM soil_data
        WHERE reading_time >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) AND reading_time &lt;CURDATE()
        GROUP BY DATE(reading_time)
        ORDER BY DATE(reading_time) DESC;
    </select>
</mapper>