<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anranruozhu.mapper.SersorDataMapper">

    <insert id="addData" >
        INSERT INTO smartleafhub.sensor_data(air_temperature, light_intensity)
            VALUES(#{airTemperature},#{lightIntensity})
    </insert>

    <select id="ShowLastTemperature" resultType="java.lang.Float">
        SELECT air_temperature
        FROM smartleafhub.sensor_data
        ORDER BY reading_time DESC LIMIT 1;
    </select>

    <select id="ShowLastlightIntensity" resultType="float">
        SELECT air_temperature
        FROM smartleafhub.sensor_data
        ORDER BY reading_time DESC
        LIMIT 1
    </select>
</mapper>