<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anranruozhu.mapper.UserInfoMapper">

    <update id="UpdateNickName">
        UPDATE smartleafhub.userinfo
            SET nickname=#{name},
        WHERE id=#{id}
    </update>

    <update id="UpdateEmail">
    </update>

    <update id="UpdateAddress">
    </update>

    <insert id="InsertID">
        INSERT INTO smartleafhub.userinfo(id)
            value (#{id})
    </insert>
</mapper>